# vim:setf bash
set -e
source /usr/local/share/chruby/chruby.sh
source /usr/local/share/gem_home/gem_home.sh

[[ -f .ruby-version ]] && ruby=$(cat .ruby-version) || ruby=$(/usr/bin/env bundle platform --ruby)
[[ -z "$ruby" ]] && echo "Specify ruby version in either .ruby-version or Gemfile." && exit 1
# "ruby 1.2.3p456" => "1.2.3"
ruby=$(echo $ruby | cut -d ' ' -f 2- | cut -dp -f 1)
chruby "ruby-$ruby"
gem_home ~/code/mentionable
if [ -f .env ]; then
  dotenv
fi
